:root {
    --dark:#52459f;
    --light:#eeebfc;
    --logo:#211374;
    --indigo:#151531;
}
.flexWrap {display:flex; flex-direction:row;}
.flexWrap::after {content:initial;}

/* s:header */
.header {width:100%; position:relative; top:0;left:0; z-index:999999; min-width:1200px;}
.header .gnb {width:98%; height:75px; line-height:75px;  background-color:var(--dark); border-bottom-right-radius:40px; z-index:2; position:absolute; top:0; left:0; z-index:999999; }
.header .gnb .logo {font-size:0; position:absolute; top:50%; transform:translateY(-50%);}
.header .gnb .inner {padding:0 40px 0 25px; align-items:center; justify-content:space-between; width:100%; height:100%; }
.header .gnb .homeBox {align-items:center; padding-left:260px;}
.header .gnb .homeBox a {line-height:1;}
.header .gnb .homeBox .icon:hover {transform:translateY(-3px); transition:all 0.3s;}
.header .gnb .homeBox .tit {font-family:'NotoSansMedium'; font-size:18px; color:#fff; margin-left:20px;}
.header .gnb .infoBox {align-items:center;}
.header .gnb .time {background-color:#42377f; width:180px; height:50px; border-radius:25px; justify-content:center; align-items:center;}
.header .gnb .time p {font-family:'NotoSansRegular'; font-size:17px; color:#fff; margin-right:5px;}
.header .gnb .time a {font-family:'NotoSansRegular'; font-size:15px; color:#22ea6d; padding-left:5px;}
.header .gnb .time a::after {content:initial !important;}
.header .gnb .time a input {width:auto !important;}
.header .gnb .time a input {background-color:transparent;}
.header .gnb .time a input::placeholder {font-size:16px; color:#fff;}
.header .gnb .time a:hover {color:#00cf4f;}
.header .gnb .time a:hover figure {transition:all 0.3s; transform:translateY(-1px);}
.header .gnb .time figure {margin-right:3px; font-size:0; transform:translateY(1px);}
.header .gnb .user {align-items:center; margin:0 28px 0 18px;}
.header .gnb .user figure {width:50px; height:50px; line-height:45px; text-align:center; border-radius:50%; background-color:#fff;}
.header .gnb .user figure img {width:36px;}
.header .gnb .user dl {line-height:1.2; margin-left:10px;}
.header .gnb .user dl dt {font-family:'NotoSansMedium'; font-size:16px; color:#fff;}
.header .gnb .user dl dd {font-family:'NotoSansBold'; font-size:14px; color:#d4cbff;}
.header .gnb .desc i {font-size:24px; color:#fff; opacity:0.5;}
.header .gnb .desc a:nth-child(1) {margin-right:2px;}
.header .gnb .desc a:hover i {opacity:1; transition:all 0.3s;}
.header .nav { width:240px; height:100vh; background-color:var(--indigo); position:fixed; top:0; left:0; overflow-y:scroll;}
.header .nav nav {padding-top:130px; padding-left:25px;color:#fff;}
.header .nav nav ul {padding-bottom:90px;}
.header .nav .navList >li {display:flex; flex-direction:row; align-items:center; position:relative;}
.header .nav .navList >li.active::after {content:''; width:90%; height:40px; position:absolute; left:-15px; z-index:-1; background-color:var(--dark); border-radius:6px;}
.header .nav nav a {color:#52526b; width:100%; height:100%; padding:10px 0;}
.header .nav nav .icon {line-height:1; opacity:0.2; margin-right:12px;}
.header .nav nav .active .icon {opacity:1;}
.header .nav nav .active .on {display:block;}
.header .nav nav .active .off {display:none;}
.header .nav nav .on {display:none;}
.header .nav nav .off {display:block; opacity:0.7;}
.header .nav nav .active a {color:#fff;}
.header .nav .navList >li:hover .icon {opacity:1;}
.header .nav .navList >li:hover a {color:#f6f6f6;}

.header .nav::-webkit-scrollbar {
    width:0px;  /* 스크롤바의 너비 */
}
.header .nav::-webkit-scrollbar-thumb {
    height:30%; /* 스크롤바의 길이 */
    background:var(--indigo); /* 스크롤바의 색상 */
    border-radius: 10px;
}
.header .nav::-webkit-scrollbar-track {
    background:var(--indigo);  /*스크롤바 뒷 배경 색상*/
}


/* e:header */

/* s:footer */
.footer {position:relative; bottom:0; left:0; z-index:9999999; width:100%; height:5vh; background-color:#333333;}
.footer .inner {width:100%; height:100%; justify-content:space-between; align-items:center;}
.footer .inner .logoBox {padding-left:25px; align-items:center;}
.footer .inner .logoBox p {font-family:'NotoSansBold'; font-size:14px; color:#fff; padding-left:8px;}
.footer .inner .copyright {padding-right:25px; font-family:'NotoSansLight'; font-size:13px; color:#fff; opacity:0.2;}
.footer .inner .descBox {height:100%; align-items:center;}
.footer .inner .descBox .userInfo {align-items:center; height:100%; padding:0 25px; background-color:#3d3999; }
.footer .inner .descBox .userInfo .tit {font-family:'NotoSansBold'; font-size:14px; color:#fff; opacity:0.5;}
.footer .inner .descBox .userInfo .txt {font-family:'NotoSansLight'; font-size:14px; color:#fff; opacity:0.5;}
.footer .inner .descBox .userInfo .border {width:1px; height:14px; background-color:#fff; margin:0 20px; opacity:0.15;}
/* e:footer */